/** {*/
/*	font-family: 'Jua', sans-serif; font-family: 'Open Sans', sans-serif;*/
/*	margin: 0; padding: 0; justify-content: center; align-items: center;*/
/*}*/



* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    line-height: 1.5;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

p, span {
    font-size: 14px;
}


.whole_wrap {


}

.main {

    flex-grow: 1;

    order: 4;

}

.article {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    justify-content: center;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}
 /*왼쪽 프레임*/
.left_frame {

    /*align-items: center;*/
    align-self: center;
    background-image: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
    background-position: 0 0;
    background-size: 454px 618px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

.left_container {
    margin: 99px 0 0 151px;
    position: relative;
}

#insta_pic_sign{
    height: 427px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    /*visibility: hidden;*/
    width: 240px;
}
/*왼쪽 프레임 끝*/
#insta_pic_log{
    height: 427px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    /*visibility: hidden;*/
    width: 240px;
}






   /*우측프레임*/
.right_frame {
    color: slategray;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.right_frame > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo_instagram {
    cursor: pointer;
}
/*마진 패딩만   주황은 마진  초록은 패딩*/

/*로그인 시작*/
.container {
    width: 350px;
    height: 420px;
    margin: 100px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid lightgray;
}
img.logo_instagram {
    align-self: center;
    width: 175px;
    margin: 30px auto;
}
.input_login {
    width: 270px;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btn_login {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btn_login:disabled {
    background-color: #B9DFFC;
}
#btn_login:disabled:hover {
    cursor: default;
}
#btn_login:enabled:hover {
    cursor: pointer;
}
#btn_login:focus {
    outline: none;
}
a {
    cursor: default;
}

/*로그인  끝*/


/*또는*/
.or {
	padding: 35px 20px;
	position: relative;
}
.or:after {
	content: "";
	width: 100%;
	height: 1px;
	background: #adadad;
	border-radius: 20px;
	display: block;
}
.or span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	color: #a3a3a3;
	padding: 0 10px;
}

.facebook_button {
    border: 0;
    color: #0095f6;
    display: inline;
    padding: 0;
    position: relative;
    appearance: none;
    background: 0 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
    margin-right: 0px;
}

.facebook_icon {
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.facebook_login {
    color: #385185;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
}

.button_forgot {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    box-sizing: border-box;
    color : #00366B;
    align-self: center;
    font-size: 12px;
    text-decoration : none;
}
.button_forgot:hover {
    cursor: pointer;
}


.sign_in_box {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.signup_text_center {
    margin: 10px auto;
}

.sign_in_frame {
    display: block;
    color: slategray;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
}

/*.sign_in_frame > p, a {*/
/*    align-self: center;*/
/*}*/

.sign_in_link {
    cursor: pointer;
}
.sign_in_link > span {
    text-decoration : none;
}

.app_box {
    width: 350px;
    height: 102px;
}
.app_box > p {
   text-align: center;
}
.app_frame {
    display: flex;
    width: 90%;
}

.app_down1 {
    width: 136px;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 0.25rem;
    display: block;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.app_down2 {
    width: 136px;
    border-radius: 0.25rem;
    display: block;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

/*우측프레임 끝*/


/**
 * Footer
 */
footer {

    padding: 5rem 0;
    display: flex;
    align-items: flex-end;
    /*font-weight: bold;*/
    text-transform: uppercase;
    font-size: 0.8rem;
    margin : 0 auto;
    padding: 15px 0;
}

.bottom_container {
    margin: 0 auto;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav ul li {
    margin-right: 1.6rem;
}

.footer-nav ul li a {
    color: #003569;
}

.footer_bottom {
    display: flex;
    /*width: 90%;*/
    justify-content: space-between;

}

.sign_form {
    display: flex;
    /*width: 90%;*/
    justify-content: center;
    margin: 0 auto;
}

.btn-group {
    margin-left: 300px;
    margin-right: -100px;
    display: flex;
    border-radius: 0.25rem;
    height: auto;
    cursor: pointer;
}

.copyright-notice {
    margin-right: 200px;
    display: flex;
    width: 500px;
    border-radius: 0.25rem;
    height: auto;
    cursor: pointer;
    color: #999999;
    justify-content: center;
    align-items: center;
}

/*Footer 끝*/


/*회원가입 페이지 추가 css*/
.sign_in_container {
    width: 350px;
    height: 530px;
    margin: 100px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid slategray;
}

a {
    text-decoration: none;
}


@media (max-width: 740px) {
    .left_frame {
        display: none;
    }


}
