body {
    margin: 0 auto;
}


#desktop-header {
    display: none;
}

#sub-container {
    display: none;
}


#mobile-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;

    width: 100%;
    position: fixed;
    max-width: 860px;
    border-bottom: 1px solid lightgray;
}

#mobile-header .header-icon {

    margin: 3% 5%;
    width: 6%;
}

#mobile-header #logo {
    width: 27%;
}


#container {
    padding-top: 95px;
    padding-bottom: 0%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#profile-photo {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

#profile-photo img {
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
}

.profile-wrapper {
    margin-top: 25px;
}


.profile-id {
    flex-direction: row;
    justify-content: center;
    display: flex;


}

style attribute {
    --desktop-nav-height: 60px;
}

ul {

    list-style: none;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
}

.profile-id h1 {
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    font-weight: 300;
    color: #262626;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(to right top, #2af598, #009efd);
    color: transparent;
    -webkit-background-clip: text;
}

.profile-info {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-left: 35px;


}

.profile-bio {

    flex-direction: row;
    justify-content: center;
    display: flex;

}


.profile-follow li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.profile-follow a {
    background: linear-gradient(to right top, #2af598, #009efd);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    margin-right: 40px;
    text-decoration: none
}

.profile-follow span {
    background: linear-gradient(to right top, #2af598, #009efd);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}

.profile-bio {
    flex-direction: row;
    justify-content: center;
    display: flex;
}


.profile-bio span {
    color: gray;
}


.myfeed-icons {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 0px;
}

.myfeed-photo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.myfeed-photoset {
    padding: 5px;
}

.myfeed-photoset img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
