
html {
    -webkit-text-size-adjust: 100%;
}

#footer {
  display: none;
}
#mobile-header {
  display: none;
}

#desktop-header {
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
#desktop-header #desktop-header-wrapper {
  max-width: 950px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#desktop-header-wrapper #logo-wrapper {
  width: 33.3%;
}
#desktop-header-wrapper #logo-wrapper img {
  width: 40%;
  height: 40%;
}


#desktop-header-wrapper #search-wrapper {
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gray;
  width: 33.3%;
  height: 34px;
  border: 1px solid lightgray;
  background-color: rgba(215, 215, 215, 0.1);
  border-radius: 3px;
  padding-left: 15px;
}

#desktop-header-wrapper #search-wrapper img {
  width: 4%;
  opacity: 0.5;
}
#desktop-header-wrapper #search-wrapper p {
  margin-left: 2%;
  font-size: 13px;
}


#desktop-header-wrapper #header-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
}
#desktop-header-wrapper #header-icon-wrapper img {
  margin: 0% 3.5%;
  width: 8%;
}

body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
#container {
  padding-top: 95px;
  padding-bottom: 0%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#profile-container {
  display: flex;
}

#profile-photo{
  display: flex;
  justify-content: center;
}

#profile-photo img {
  width: 40%;
  border-radius: 50%;
}

.profile-id {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex-shrink: 1;
  min-width: 0;
  align-items: center;

}

style attribute {
  --desktop-nav-height: 60px;
}

ul {

  list-style: none;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
}
.profile-id h1{
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
  font-weight: 300;
  color: #262626;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-info {
  flex-direction: row;
  justify-content: center;
  display: flex;

}
.profile-follow li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.profile-follow a{
  color: inherit;
  font-size: 16px;
  margin-right: 40px;
  text-decoration:none
}

.profile-follow span{
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
}

.myfeed-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 105%;
  padding-top: 80px;
  height: 30px;
  flex-direction: row;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.myfeed-photo-wrapper {
  display: flex;
  flex-direction: row;
}

.myfeed-photoset {
  padding: 5px;
}

.myfeed-photoset img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
