<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/crud.js"></script>
    <link rel="stylesheet" href="../static/crud.css">


    <title>기능모음</title>
    <script>
        <!--자바 스크립트 내용은 ../static/crud.js에 저장하여 불러옵니다. -->

    </script>

</head>
<body>
<div class="mypic">
    <h1>데이터 베이스 핸들링</h1>
</div>
<div class="mybox">
    <div class="mydb">
        <input id="db" class="form-control" type="text" placeholder="값을 입력하세요">
        <button onclick="create_db()" type="button" class="btn btn-outline-primary">기록하기</button>
    </div>
</div>
<div class="mybox" id="db-list">

    <div class="flex-container" id="column_container">

    </div>
</body>
</html>