<!--&lt;!&ndash;페이지에 JavaScript SDK를 한 번 포함하세요. body 태그를 연 직후에 포함하는 것이 이상적입니다&ndash;&gt;-->

<!--<div id="fb-root"></div>-->
<!--<script async defer crossorigin="anonymous"-->
<!--        src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v12.0&appId=439520574345603&autoLogAppEvents=1"-->
<!--        nonce="LERSqlEj"></script>-->


<!--&lt;!&ndash;페이지에서 플러그인을 표시할 위치에 이 코드를 넣으세요.&ndash;&gt;-->

<!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default"-->
<!--     data-auto-logout-link="false" data-use-continue-as="false"></div>-->



<!--페이스북 연습용 코드로 쓸일이 없어 주석 처리했습니다. -페이스북 로그인연동 담당자 KJY- -->