<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/feedmobile.css">
    <link rel="stylesheet" media="(min-width: 860px)" href="../static/feedweb.css">
    <title>Instagram</title>
    <!--    <link rel="stylesheet" href="../static/crud.css">-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--    쿠키 스크립트 추가-->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <script>
        // 쿠키에서 토큰삭제
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }

        var user = '{{user}}';


    </script>
</head>
<body>

<div id="main">
    <!--    <ul>-->

    <!--        <li>{{user}}</li>-->

    <!--    </ul>-->

    <div id="mobile-header">
        <img class="header-icon" src="https://i.imgur.com/DBcXbOE.png"/>
        <img id="logo" src="https://i.imgur.com/BhB0ET4.png"/>
        <img class="header-icon" src="https://i.imgur.com/itaPUxe.png"/>
    </div>
    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="https://i.imgur.com/BhB0ET4.png"/>
            </div>
            <div id="search-wrapper">
                <input type="text" placeholder="검색" class="search-input" id="input_search" onkeyup="enterkey()"
                       name="q">
            </div>
            <div id="header-icon-wrapper">
                <img class="header-icon" src="https://i.imgur.com/obZ4GI0.png"/>
                <img class="header-icon" src="https://i.imgur.com/p9T8Jgd.png"/>
                <img onclick="logout()" class="header-icon" src="https://i.imgur.com/jwVoZUU.png"/>
                <img class="header-icon" src="https://i.imgur.com/n0hgaRi.png"/>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="main-container">
            <div id="story-container">
                <div class="story-wrapper">
                    <div class="story-off">
                        <img src="https://i.imgur.com/f7sHxMT.jpg"/>
                    </div>
                    <p>내 스토리</p>
                </div>
            </div>
            <div id="post-container">
<!--                <div class="post-wrapper">-->
<!--                    <div class="post-header">-->
<!--                        <div class="left-wrapper">-->
<!--                            <img src="https://i.imgur.com/f7sHxMT.jpg"/>-->
<!--                            <p>이용자5</p>-->
<!--                        </div>-->
<!--                        <div class="right-wrapper">-->
<!--                            <img src="https://i.imgur.com/n0hgaRi.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post-body">-->
<!--                        <img src="https://i.imgur.com/f7sHxMT.jpg">-->
<!--                        <div class="post-icons-wrapper">-->
<!--                            <div class="left-wrapper">-->
<!--                                <img class="post-icon" src="https://i.imgur.com/GRWPfw7.png">-->
<!--                                <img class="post-icon-2" src="https://i.imgur.com/BGg2TNJ.png">-->
<!--                            </div>-->
<!--                            <div class="right-wrapper">-->
<!--                                <img src="https://i.imgur.com/n0hgaRi.png">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post-footer">-->
<!--                        <div class="post-like-wrapper">-->
<!--                            <img src="https://i.imgur.com/f7sHxMT.jpg">-->
<!--                            <p><strong>이용자</strong>님 <strong>외 6,671명</strong>이 좋아합니다</p>-->
<!--                        </div>-->
<!--                        <div class="post-content-wrapper" class="comment-list" id="comment-list-01">-->
<!--                            <div class="comment-box">-->
<!--                                <p class="post-author">u_u.computer</p>-->
<!--                                <p class="post-content">오늘도 열심히 코딩 공부해요!🔥🔥🔥🔥🔥</p>-->
<!--                            </div>-->
<!--                            <div class="comment-box">-->
<!--                                <p class="post-author">master_coding</p>-->
<!--                                <p class="post-content">새해 복 많이 받으세요~✨✨✨</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p class="post-time">8시간 전</p>-->
<!--                        <div class="comment-container">-->
<!--                            <div class="comment-left-side">-->
<!--                                <img src="https://i.imgur.com/f7sHxMT.jpg" , alt="스마일">-->
<!--                                <input id="comment_01" class="comment" type="text" placeholder="댓글달기...">-->
<!--                            </div>-->
<!--                            <button onclick="save_comment_01()" type="button" class="comment-button">게시</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img src="https://i.imgur.com/f7sHxMT.jpg"/>
                            <p>이용자5</p>
                        </div>
                        <div class="right-wrapper">
                            <img src="https://i.imgur.com/n0hgaRi.png">
                        </div>
                    </div>
                    <div class="post-body">
                        <img src="https://i.imgur.com/f7sHxMT.jpg">
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper">
                                <img class="post-icon" src="https://i.imgur.com/GRWPfw7.png">
                                <img class="post-icon-2" src="https://i.imgur.com/BGg2TNJ.png">
                            </div>
                            <div class="right-wrapper">
                                <img src="https://i.imgur.com/n0hgaRi.png">
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <img src="https://i.imgur.com/f7sHxMT.jpg">
                            <p><strong>이용자</strong>님 <strong>외 6,671명</strong>이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper" class="comment-list" id="comment-list-02">
                            <div class="comment-box">
                                <p class="post-author">chacha_vely</p>
                                <p class="post-content">앞으로도 화이팅해요!</p>
                            </div>
                            <div class="comment-box">
                                <p class="post-author">coding_man21</p>
                                <p class="post-content">👍👍👍</p>
                            </div>
                        </div>
                        <p class="post-time">8시간 전</p>
                        <div class="comment-container">
                            <div class="comment-left-side">
                                <img src="https://i.imgur.com/f7sHxMT.jpg" , alt="스마일">
                                <input id="comment_02" class="comment" type="text" placeholder="댓글달기...">
                            </div>
                            <button onclick="save_comment_02()" type="button" class="comment-button">게시</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-container">
            <div id="sub-icon-header">
                <p id="sub-header-text">회원님을 위한 추천</p>
                <p id="sub-header-text-2">모두 보기</p>
            </div>
            <div id="sub-icon-wrapper">
                <div class="sub-item">
                    <div class="sub-item-user">
                        <a href="/mypage"><img src="https://i.imgur.com/f7sHxMT.jpg"></a>
                        <div class="sub-item-text">
                            <p class="sub-item-name">빨간망토 차차</p>
                            <p class="sub-item-follower">이용자님이 팔로우합니다</p>
                        </div>
                    </div>
                    <p class="sub-item-button">팔로우</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="icon-wrapper">
            <img src="https://i.imgur.com/obZ4GI0.png">
            <img src="https://i.imgur.com/V7VUmWq.png">
            <img src="https://i.imgur.com/p9T8Jgd.png">
            <img src="https://i.imgur.com/GRWPfw7.png">
            <img src="https://i.imgur.com/obZ4GI0.png">
        </div>
    </div>
</div>
<script src="../static/redirection.js"></script>
<script src="../static/random_show.js"></script>
<script src="../static/feedindex.js"></script>
</body>
</html>
