<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/searchmobile.css">
    <link rel="stylesheet" media="(min-width: 860px)" href="../static/seachweb.css">
    <title>Instagram</title>
</head>
<body>
    <div id="main">
        <div id="mobile-header">
            <img class="header-icon" src="https://i.imgur.com/DBcXbOE.png"/>
            <img id="logo" src="https://i.imgur.com/BhB0ET4.png"/>
            <img class="header-icon" src="https://i.imgur.com/itaPUxe.png"/>
        </div>
        <div id="desktop-header">
            <div id="desktop-header-wrapper">
                <div id="logo-wrapper">
                    <img src="https://i.imgur.com/BhB0ET4.png"/>
                </div>
                <div id="search-wrapper">
                    <img src="https://i.imgur.com/V7VUmWq.png">
                    <p>검색</p>
                </div>
                <div id="header-icon-wrapper">
                    <img class="header-icon" src="https://i.imgur.com/obZ4GI0.png"/>
                    <img class="header-icon" src="https://i.imgur.com/p9T8Jgd.png"/>
                    <img class="header-icon" src="https://i.imgur.com/jwVoZUU.png"/>
                    <img class="header-icon" src="https://i.imgur.com/n0hgaRi.png"/>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="main-container">
                <div id="search-container">
                    <div class="search-wrapper">
                        <div class="search-word">
                            <h1><b>#검색어</b></h1>
                        </div>
                        <div class="search-set">
                        <ul class="search-info">
                            <li class="search-post">
                                <a class="search-post" href="url" tabindex="0">
                                    게시물
                                    <span class="search-post">31,413</span>
                                </a>
                                </span>
                            </li>
                        </ul>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>


                <hr>
                <div class="photo-container">
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>
                    <div class="photo-wrapper">
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                        <div class="photoset">
                            <img src="https://i.imgur.com/pI11x13.jpg">
                        </div>
                    </div>

                </div>
        </div>
</body>
</html>