<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/searchmobile.css">
    <link rel="stylesheet" media="(min-width: 860px)" href="../static/searchweb.css">
    <title>Instagram</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>
<body>
<div id="main">

    <div id="mobile-header">
        <img class="header-icon" src="https://i.imgur.com/DBcXbOE.png"/>
        <img id="logo" src="https://i.imgur.com/BhB0ET4.png"/>
        <img class="header-icon" src="https://i.imgur.com/itaPUxe.png"/>
    </div>

    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="https://i.imgur.com/BhB0ET4.png"/>
            </div>

            <div id="search-wrapper">
<!--                <img src="https://i.imgur.com/V7VUmWq.png">-->
                <input type="text" placeholder="검색" class="search-input" id="input_search" onkeyup="enterkey()"
                       name="q">
            </div>

            <div id="header-icon-wrapper">
                <img class="header-icon" src="https://i.imgur.com/obZ4GI0.png"/>
                <img class="header-icon" src="https://i.imgur.com/p9T8Jgd.png"/>
                <img class="header-icon" src="https://i.imgur.com/jwVoZUU.png"/>
                <img class="header-icon" src="https://i.imgur.com/n0hgaRi.png"/>
            </div>

        </div>

    </div>

    <div id="container">
        <div id="main-container">

        </div>
    </div>
</div>

<script src="../static/redirection.js"></script>
<script src="../static/db_search.js"></script>

</body>
</html>