<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/searchweb.css">
    <title>Instagram</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>
<body>
<div id="main">
<!--     <ul>-->

<!--        <li>{{user}}</li>-->

<!--    </ul>-->

    <div id="mobile-header">
        <img class="header-icon" src="https://i.imgur.com/QzZl3IX.png"/>
        <img id="logo" src="https://i.imgur.com/okQPwOo.png"/>
        <img class="header-icon" src="https://i.imgur.com/g7fgRMj.png"/>
    </div>

    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="https://i.imgur.com/okQPwOo.png"/>
            </div>

            <div id="search-wrapper">
<!--                <img src="https://i.imgur.com/V7VUmWq.png">-->
                <input type="text" placeholder="검색" class="search-input" id="input_search" onkeyup="enterkey()"
                       name="q">
            </div>

            <div id="header-icon-wrapper">
                <img class="header-icon" src="https://i.imgur.com/k0gYKqs.png"/>
                <img class="header-icon" src="https://i.imgur.com/vbzwJ3r.png"/>
                <img class="header-icon" src="https://i.imgur.com/XzpBnZx.png"/>
                <img class="header-icon" src="https://i.imgur.com/xfXP0Z2.png"/>
            </div>

        </div>

    </div>

    <div id="container">
        <div id="main-container">

        </div>
    </div>
</div>

<script src="../static/redirection.js"></script>
<script src="../static/db_search.js"></script>

</body>
</html>