<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--    jQuery,부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--     모바일 화면구성을 위한 뷰포트 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder'stagram_Flask_Project</title>

    <!--     CSS 파일 불러오기-->
    <link rel="stylesheet" href="../static/login.css" type="text/css">
    <link rel="stylesheet" href="../static/common.css" type="text/css">
<!--    페이스북 로그인연동 js-->
    <script src="../static/facebook.js"></script>
    <script>
        // 회원가입 부분 ajax 구현

        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

        function sign_up() {
            let userEmail = $('#userEmail').val()
            let userName = $('#userName').val()
            let user_sign_ID = $('#user_sign_ID').val()
            let user_sgin_PW = $('#user_sign_PW').val()

            if (userEmail == "") {
                alert('이메일을 입력해주세요')
                $("#userEmail").focus()
                return;
            }else if (userName == ""){
                alert('성명을 입력해주세요')
                 $("#userName").focus()
                 return;
            }else if (user_sign_ID == ""){
                 $("#user_sign_ID").focus()
                alert('아이디를 입력해주세요')
                return;
            }else if (user_sgin_PW == ""){
                 $("#user_sign_PW").focus()
                alert('비밀번호를 입력해주세요')
                return;
            }
            else {
            }

            $.ajax({
                type: "POST",
                url: "/sign_up",
                data: {
                    userEmail_give: userEmail,
                    userName_give: userName,
                    user_sign_ID_give: user_sign_ID,
                    user_sign_PW_give: user_sgin_PW

                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

    </script>



</head>
<body>
<!--페이스북 로그인 설정을 위한 js-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v12.0&appId=439520574345603&autoLogAppEvents=1"
        nonce="LERSqlEj"></script>


<section class="whole_wrap">
    <main class="main">
        <article class="article">
            <div class="left_frame">
                <div class="left_container">
                    <img alt="" class="insta_pic" src="https://i.imgur.com/PSSCGyf.png">
                </div>
            </div>
            <div class="right_frame">
                <div class="sign_in_container">
                    <img onclick="to_main()" class="logo_instagram" src="https://i.imgur.com/BhB0ET4.png"
                         alt="instagram_logo">

                    <!--                        이전 페이스북 샘플 버튼-->
                    <!--                    <button class="facebook_button" type="button">-->
                    <!--                        <span class="facebook_icon"></span>-->
                    <!--                        <span class="facebook_login">Facebook으로 로그인</span>-->
                    <!--                    </button>-->
                    <!--                    페이스북로그인 연동 버튼-->
                    <div class="fb-login-button" scope="public_profile,email,publish_pages,manage_pages"
                         data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true"
                         data-auto-logout-link="true" data-use-continue-as="true" onlogin="fbLogin();"></div>


                    <div class="or">
                        <span>또는</span>
                    </div>


                    <!--                    회원가입에 필요한 dictionary 정보입력창-->
                    <input type="text" class="input_login" name="userEmail" id="userEmail"
                           placeholder="이메일 주소">
                    <input type="text" class="input_login" name="userName" id="userName" placeholder="성명">
                    <input type="text" class="input_login" name="user_sign_ID" id="user_sign_ID"
                           placeholder="사용자 이름">
                    <input type="password" class="input_login" name="user_sign_PW" id="user_sign_PW" placeholder="비밀번호">
                    <a href="#none">
                        <!--                        가입 버튼 활성화-->
                        <button onclick="sign_up()" type="button" id="btn_login">가입</button>
                    </a>


                    <a class="button_forgot" href="/forgot_password">비밀번호를
                        잊으셨나요?</a>
                </div>
                <div class="sign_in_box">
                    <div class="sign_in_frame">
                        <p>
                            계정이 있으신가요?
                            <a href="/" tabindex="0"><span
                                    class="sign_in_link">로그인하기</span></a>
                        </p>
                    </div>
                </div>
                <div class="app_box">
                    <p>앱을 다운로드하세요.</p>
                    <div class="app_frame">
                        <a
                                href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8&amp;vt=lo"
                                tabindex="0"><img alt="App Store에서 이용 가능" class="app_down1"
                                                  src="https://i.imgur.com/o4bGWMU.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D2B37DA01-F0E7-4B08-B087-8CCD8264D99C%26utm_content%3Dlo%26utm_medium%3Dbadge"
                           tabindex="0"><img alt="Google Play에서 이용 가능" class="app_down2"
                                             src="https://i.imgur.com/bZigtdp.png"></a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <div class="bottom_container">
            <nav class="footer-nav">
                <ul>
                    <li>

                        <a href="#">Meta</a>
                    </li>
                    <li>
                        <a href="#">소개</a>
                    </li>
                    <li>
                        <a href="#">블로그</a>
                    </li>
                    <li>
                        <a href="#">채용 정보</a>
                    </li>
                    <li>
                        <a href="#">도움말</a>
                    </li>
                    <li>
                        <a href="#">API</a>
                    </li>
                    <li>
                        <a href="#">개인정보처리방침</a>
                    </li>
                    <li>
                        <a href="#">약관</a>
                    </li>
                    <li>
                        <a href="#">인기 계정</a>
                    </li>
                    <li>
                        <a href="#">해시태그</a>
                    </li>
                    <li>
                        <a href="#">위치</a>
                    </li>
                    <li>
                        <a href="#">Instagram Lite</a>
                    </li>
                </ul>
            </nav>
            <div class="footer_bottom">
                <!-- Default dropup button -->
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        한국어
                    </button>
                    <ul class="dropdown-menu">
                        <!-- Dropdown menu links -->
                    </ul>
                </div>
                <div class="copyright-notice">
                    © 2021 Instagram from Meta
                </div>
            </div>

        </div>
    </footer>
</section>
<script src="../static/login.js"></script>
</body>
</html>